<?xml version="1.0"?>
<phpunit bootstrap="bootstrap-wp.php" colors="true">
    <testsuites>
        <testsuite name="GK Block API">
            <directory>Block</directory>
            <directory>Post</directory>
            <directory>REST</directory>
            <directory>Media</directory>
            <directory>Preferences</directory>
            <directory>Integrations</directory>
            <directory>Security</directory>
        </testsuite>
    </testsuites>
</phpunit>
